.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 48, 44);
    font-weight: 400;
    line-height: 24px;
   word-spacing: normal;
   text-size-adjust: 4px;
   text-align: center;
   gap: 0px;
   
}