/* Reset default spacing and set font */
* {
  margin: 0;
  padding: 0;
  box-sizing: left;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background: url('https://ik.imagekit.io/fsvsvbeap/todolistbg%20assignment4.webp?updatedAt=1750523099699') no-repeat center left;
  color: #fff;
  display:flex;
  align: items 20px;
  justify-content:left-end;
  padding: 20px;
}

/* Main container */
.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0); /* semi-transparent for readability */
  padding: 20px;
  width: 100%;
  max-width: 300px;
}
/* Subtitle */
.subtitle {
  margin: 10px 10px;
  font-size: 14px;
}

/* Card section */
.card {
  text-align: left;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.4;
}

/* Start button */
.start-btn {
  background-color: #ffa500;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Extra note */
.note {
  font-size: 12px;
  text-align: center;
  color: #ddd;
  text-decoration: underline;
}
