@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-container{
    background-image: url("https://ik.imagekit.io/fsvsvbeap/tourism/sea-ocean?updatedAt=1750936015447");
    width: 300px;
    height:600px ;
    background-size: cover;
}
.places-main-container{
    background-image: url("https://ik.imagekit.io/fsvsvbeap/tourism/taj-mahal?updatedAt=1750936073934");
    width: 300px;
    height: 626px;
    background-size: contain;
    background-repeat: no-repeat;
}